.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItems {
    padding: 15px;
}

.dialogItems .active {
    color: darkorange;
}

.dialog {

}

.messages {
    padding: 15px;

}

.message {

}